{#
/**
 * @file
 * Default theme implementation to output the basic HTML structure of a single Drupal page.
 *
 * Available variables:
 * - page: The rendered page.
 * - logged_in: A flag indicating whether the user is logged in.
 * - is_admin: A flag indicating whether the user is an administrator.
 * - direction: The language direction of the text for the page.
 * - name: The name of the active theme.
 * - base_path: The base URL path of the Drupal installation.
 * - path: The current Drupal path, with all elements of the Drupal path untangled.
 * - content: The main content of the current page.
 * - css: An array of CSS files for the current page.
 * - title_prefix: Additional output populated by modules, intended to be displayed in front of the main title tag.
 * - title_suffix: Additional output populated by modules, intended to be displayed after the main title tag.
 * - feed_icons: A string of all feed icons for the current page.
 * - favicon: The favicon for the current page.
 * - front_page: The URL of the front page.
 * - hide_title: A flag indicating whether the title should be hidden.
 * - is_front: A flag indicating whether the current page is the front page.
 * - logo: The path to the logo image, as defined in theme settings.
 * - main_menu: Tree of the main menu, keyed by menu ID.
 * - secondary_menu: Tree of the secondary menu, keyed by menu ID.
 * - messages: HTML for status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as 'Add a blog entry' on the blog page.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token }}">
  <js-placeholder token="{{ placeholder_token }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body{{ attributes }}>

  {# Include the header component #}
  {% include '@theme/components/header.twig' with {
    'site_name': site_name,
    'logged_in': logged_in,
    'user_display_name': user_display_name,
  } %}

  <main>
    <div class="container mx-auto py-4">
      {{ page.content }}
    </div>
  </main>

  {# Include the footer component #}
  {% include '@theme/components/footer.twig' with {
    'year': "now"|date("Y")
  } %}

  <js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
